<div class="well">
    <form ng-submit="Checkuser(user)">
        User Name : <input type="text" ng-model="user.usernmae" />
        <br />
        <br />
        Password : <input type="password" ng-model="user.password" />
        <br />
        <br />
        <input type="submit" class="btn-primary" value="Login" />
    </form>
    <div style="background-color:yellow">
        <div ng-if="isAuthenticated">
            <span class="text-success">{{message}}</span>
        </div>
        <div ng-if="!isAuthenticated">
            <span class="text-danger">{{message}}</span>
        </div>
    </div>
</div>
