<!DOCTYPE html>
<html ng-app="">
<head>
    <title>AngularJS Tutorial 4: Introduction To Directives</title>
    <script src="JS/angular.min.js"></script>
</head>
<body>
    <input type="text" ng-model="tname" />
    <div>Hello {{tname}}</div>
    <div data-ng-bind="tname"></div>
    <div ng-bind="tname"></div>
    ------------------------------------------------

    <textarea data-ng-model="txtname"></textarea>
    <div>Hello {{txtname}} </div>
    <div data-ng-bind="txtname"></div>
    <div ng-bind="txtname"></div>
</body>
</html>
