<!DOCTYPE html>
<html>
<head>
    <title>Working with Promise - Async Functions</title>
    <link href="../Styles/bootstrap.css" rel="stylesheet" />
</head>
<body ng-app="myApp" ng-controller="MainController">
    <h1>Promise</h1>

    <input type="button" ng-click="getaAsyncMessage()" value="Get me an Async Message"/>

    <input type="button" ng-click="cancleRequested= true" value="cancle Async Message" />
    <br />

    <h2> Promise Status - {{status}}</h2>
    <script src="../Scripts/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
