<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../Styles/bootstrap.css" rel="stylesheet" />
</head>
<body ng-cloak class="well" ng-app="myShop" ng-controller="DirectiveController" ng-init="name='Jagadeesh'">

    <h2 ng-style="{color: myColor}" ng-bind="appTitle"> </h2>
    <br />
    Enter Name : <input type="text" ng-model="name" ng-required placeholder="Your fist name"/>
    <div ng-if="name.length>0">Welcome Mr/Mis/Miss.{{name | uppercase}}</div>
    <br />
    <div style="background-color:yellow;font-size:20px">
        Cart Items : {{products.length}}
    </div>

    <div ng-show="products.length>0">
        <table border="1" class="table-striped table-hover">
            <thead>
                <tr>
                    <th>Serial No</th>
                    <th>Product Name</th>
                    <th>Price (Rs.)</th>
                    <th>Qunty</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody ng-repeat="p in products">
                <tr>
                    <td>{{$index + 1}}</td>
                    <td><span ng-bind="p.name" /></td>
                    <td><span ng-bind="p.price" /></td>
                    <td><input type="text" ng-model="p.Qnty" /></td>
                    <td><span ng-bind= "p.price * p.Qnty" /></td>
                    <td><a href="#" ng-click="removeItem($index)">Remove</a></td>
                </tr>
            </tbody>
        </table>
        <br />
            Grand Total : {{GetTotal()}}
        <br />
        {{products |json}}
    </div>    
    <br />
    Product Name : <input type="text" ng-model="PName" /><br /> 
    Price (Rs.) : <input type="text" ng-model="pPrice" /><br />
    Qunty : <input type="text" ng-model="pQunty" /><br />
    
    <input type="button" value="add" ng-click=addprod() />

        <input type="button" ng-click="discount()" value="Diwali Discount" />

        <script src="../Scripts/angular.min.js"></script>
        <script src="app.js"></script>
</body>
</html>
